{% extends "chat_base.html" %} {% block main_content %}
<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2" style="margin-top: 2em;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Please log in</h3>
			</div>
			<div class="panel-body">
				<form class="form" action="{% url 'login' %}" method="post">{% csrf_token %}
					<input type="hidden" name="next" value="{{ next }}" />
					<p class="help-block">Login as <em>john</em> or <em>mary</em> using password <em>secret</em>.</p>
					<div class="form-group">
							<input class="form-control" placeholder="Username" name="username" type="text">
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Password" name="password" type="password" value="">
					</div>
					<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock main_content %}
