<html>
<head>
	<style>
		body, input {
			font-size: 18px;
			line-height: 25px;
		}
		#text_message {
			margin: 10px;
			width: 400px;
			height: 30px;
			padding: 5px;
		}
		#billboard {
			margin: 10px;
			padding: 5px;
			width: 600px;
			height: 400px;
			background-color: black;
			color: white;
			border: solid 2px green;
			overflow-y: auto;
		}
	</style>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript">
		var ws = new WebSocket('{{ ws_url }}?subscribe-user');
		ws.onopen = function() {
			console.log("websocket connected");
		};
		ws.onmessage = function(e) {
			jQuery('#billboard').append('<br/>' + e.data);
		};
		ws.onerror = function(e) {
			console.error(e);
		};
		ws.onclose = function(e) {
			console.log("connection closed");
		}
		function send_message() {
			var data = {
				user: jQuery('#user').val(),
				message: jQuery('#text_message').val()
			};
			jQuery.post('/userchat/', data);
		}
	</script>
</head>
<body>
	<h1>Simple chat using django-websocket-redis</h1>
	<input type="text" id="text_message" />
	<input type="button" value="Send message" onClick="send_message();" />
	to
	<select id="user">{% for user in users %}
		<option value="{{ user.username }}">{% firstof user.get_full_name user.username %}</option>
	{% endfor %}</select>
	<div id="billboard"></div>
</body>
</html>
