{% extends "chat_base.html" %}

{% block control_panel %}
	<input type="text" id="text_message" />
	<button id="send_message">Send message</button>
	to
	<select id="user">{% for user in users %}
		<option value="{{ user.username }}">{% firstof user.get_full_name user.username %}</option>
	{% endfor %}</select>
{% endblock control_panel %}

{% block script_panel %}
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			ws4redis.connect('ws://{{ request.get_host }}/ws/foobar?subscribe-user');
			$('#send_message').click(function() {
				$.post('{% url "user_chat" %}', {
					user: $('#user').val(),
					message: $('#text_message').val()
				});
			});
		});
	</script>
{% endblock script_panel %}
